.clock {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    font-size: 45px;
    font-family: 'Orbitron';
    letter-spacing: 0px;
    background: #FBCEB5;
    padding: 7% 9%;
    border-radius: 13px;
}
