.clock {
    position: absolute;
    color: white;
    font-size: 45px;
    font-family: 'Orbitron';
    letter-spacing: 0px;
    background: #FBCEB5;
    padding: 10px 18px 12px;
    border-radius: 16px;

}
