.clock {
    position: absolute;
    color: white;
    font-size: 60px;
    font-family: monospace;
    letter-spacing: 0px;
    background: #FBCEB5;
    padding: 25px 40px;
    border-radius: 100px;

}
